<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi                     = "http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation = "https://schema.phpunit.de/9.3/phpunit.xsd"
        colors                        = "true"
        bootstrap                     = "vendor/autoload.php">

    <coverage>
        <include>
            <directory>src</directory>
        </include>
    </coverage>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <extensions>
        <extension class="Oscmarb\SpeedGun\SpeedGunPHPUnitExtension">
            <arguments>
                <array>
                    <element key="slow_threshold">
                        <integer>100</integer>
                    </element>
                    <element key="min_report_length">
                        <integer>5</integer>
                    </element>
                    <element key="max_report_length">
                        <integer>10</integer>
                    </element>
                    <element key="pattern_thresholds">
                        <array>
                            <element key="(.*)pattern_slow_test(.*)">
                                <integer>500</integer>
                            </element>
                        </array>
                    </element>
                </array>
            </arguments>
        </extension>
    </extensions>
</phpunit>
